<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/website/website.css" />
        <title>Heroku Django</title>
    </head>
    <body>
        <header>
            <a href="/files">Files</a>
            {% if user.is_authenticated %}
                <a href="/logout/">Logout</a>
            {% else %}
                <a href="/login/">Login</a>
            {% endif %}
        </header>
        <main class="content">
            {% block content %}{% endblock %}
        </main>
    </body>
</html>
