html, body {
    margin: 0px;
    padding: 0px;
}
.content {
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
}

/* Header */
header {
    color: white;
    background-color: black;
    width: 100%;
    padding: 1em;
}

header a {
    color: white;
}

/* Login page */
.login-form {
    display: flex;
    flex-direction: column;
    margin-top: 20em;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
}

.login-form label {
    margin-top: 1em;

}

.login-form input[type=submit] {
    margin-top: 1em;
    color: white;
    background-color: black;
    border-style: none;
    width: 6em;
    padding: 1em;
}
